/* Header */

header {
    background-color: black;
    text-align: center;
}

.p-30{
    padding: 30px;
}

.img-size{
    height: 50px;
}

/* Sub-header */

.sub-header {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-center{
    text-align: center;
}

.font-subheader{
    font-family: "Montserrat", sans-serif;
}

.sub-header-title{
    font-size: 30px;
    color: #25a2c3 ;
    font-weight: bold;
}

.sub-header-paragraph{
    font-size: 20px;
    color: #393d41 ;
    line-height: 1.5;
    font-weight: 500;
}

.button-start{
    background-color: #f04c2f;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bolder;
}

/* MAIN */

.benefit-cont{
    width: 90%;
    margin-top: 50px;
}

.margin-b > p{ 
    margin-bottom: 20px;
}

.benefit-title > h3{
    color: #25a2c3 ;
    font-weight: bold;
    margin-bottom: 20px;
}

.benefit-font{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
}

.benefit-img{
    border-radius: 50%;
    height: 300px;
    margin-bottom: 50px;
}

.guarantes-cont{
    background-color: #E32B10;
    width: 90%;
}

.guarantes-color{
    color: white;
}

.guarantes-font{
    font-family: "Open Sans", sans-serif;
}
.guarantes-main-title{
    font-size: 30px;
    font-weight: bold;
}

.guarantes-subtitle{
    line-height: 1.65;
    font-style: italic;
}

.ceo-cont {
    line-height: 1.65;
}

.ceo-name{
    font-size: 23px;
}